.ending{
    text-align: center;
    min-height: 100vh;
    background-image:url('./assets/img/detectiveoffice.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
  }