.neighbor {
    text-align: center;
    min-height: 100vh;
    background-image:url('./assets/img/neighborHouse.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
  }


  .neighbor-header h1 {
    margin: 0; /* Remove the default margin */
    padding: 0; /* Remove any padding if present */
  }
  
  .neighbor-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #613624;
  }
  
  .neighbor-link {
    color: #61dafb;
  }
  
  
  