.sheriff {
    text-align: center;
    min-height: 100vh;
    background-image:url('./assets/img/sheriffsSaloon.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
  }

  .choices {
    display: flex;
    flex-direction: column; /* Stack the buttons vertically */
    margin-top: 0px; /* Adjust this value to move the buttons up or down */
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .choice-button {
    padding: 10px 20px;
    background-color: #613624;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px 0; /* Adds spacing between buttons */
    font-size: 50px;
  }


  .neighbor-header h1 {
    margin: 0; /* Remove the default margin */
    padding: 0; /* Remove any padding if present */
  }
  
  .neighbor-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #613624;
  }
  
  .neighbor-link {
    color: #61dafb;
  }
  
  
  