.Start {
    text-align: center;
    min-height: 100vh;
    background-image:url('./assets/img/townbackground.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
  }


  .Start-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .Start-header h1 {
    margin: 0; /* Remove the default margin */
    padding: 0; /* Remove any padding if present */
  }
  
  .Start-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #613624;
  }
  
  .Start-link {
    color: #61dafb;
  }

  button {
    font-family: 'Lilita One', sans-serif; /* Use Roboto for buttons */
    font-weight: 700; /* Bold weight for emphasis */
  }
  
  button:hover {
    background-color: #452517; /* Button color on hover */
  }